:root {
  --color-primary: #0D47A1;
  --color-secondary: #1976D2;
  --color-accent: #64B5F6;
  --color-button: #1E88E5;
  --color-dark: #004C8C;

  --bg-color: #E3F2FD;
  --text-color: #212121;
}

[data-theme='dark'] {
  --bg-color: #0A1C2C;
  --text-color: #E0E0E0;
  --color-primary: #64B5F6;
  --color-secondary: #1565C0;
  --color-accent: #BBDEFB;
  --color-button: #1A73E8;
  --color-dark: #003C8F;
}
